<%= erb :cpu_dropdown %>

<div class="row">
  <div class="col-md-12">
    <h2>CPU Idle</h2>
    <div id="test_chart" style="white-space: nowrap;">
      <div class="chart_container">
          <div class="y_axis"></div>
          <div class="chart"></div>
          <div class="slider"></div>
      </div>
      <div class="legend"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
    var testQuery = "SELECT mean(usage_idle) FROM cpu WHERE time > now() - 1h GROUP BY time(30s), cpu";

    $.getJSON(_influxdb, {
                db: 'telegraf',
                q: testQuery
            },
            function(influxData) {
                drawGraph(
                        $('#test_chart'),
                        transformData(influxData),
                        'line',
                        testQuery
                );
            }
    );

});

</script>
