<div class="row">
  <div class="col-md-12">
    <h2>Disk IO Usage</h2>
    <div id="diskio_chart" style="white-space: nowrap;">
      <%= erb :graph %>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(function() {
    $(".navbar-nav li").removeClass('active');
    $(".disk-tab").addClass('active');
    disk_click();
});

function disk_click() {
  var diskQuery = "SELECT DIFFERENCE(MEAN(used)) / 1000000 AS MB from disk where time > now() - "+timeRange+" AND fstype='hfs' GROUP BY time("+groupTime+")";
  var diskUpdateQuery = "SELECT DIFFERENCE(MEAN(used)) / 1000000 AS MB from disk where time > now() - "+groupTime+" AND fstype='hfs' GROUP BY time("+groupTime+")";

  console.debug(diskQuery)

  $(".chart").empty();
  $(".y_axis").empty();
  $(".legend").empty();
  $(".slider").empty();

    $.getJSON(_influxdb, {
                db: 'telegraf',
                q: diskQuery
            },
            function(influxData) {
                drawGraph(
                        $('#diskio_chart'),
                        transformData(influxData, 'MB'),
                        'stack',
                        diskQuery,
                        diskUpdateQuery,
                        true

                );
            }
    );
};
</script>
