<div class="row">
  <div class="col-md-12">
    <div class="btn-group gap" role="group">
      <button id="read_bytes" class="btn btn-default active" onclick="disk_click('read_bytes')">Read Traffic</button>
      <button id="write_bytes" class="btn btn-default" onclick="disk_click('write_bytes')">Write Traffic</button>
    </div>
    <h2>Disk IO Usage</h2>
    <div id="diskio_chart" style="white-space: nowrap;">
      <div class="chart_container" >
          <div class="y_axis"></div>
          <div class="chart"></div>
          <div class="slider"></div>
      </div>
      <div class="legend"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(function() {
    $("#read_bytes").click();
});

function disk_click(parameter) {
  var diskQuery = "SELECT DIFFERENCE("+parameter+") / 1000 AS KB from diskio where time > now() - 1h GROUP BY \"name\"";

  console.debug(diskQuery)

  $(".chart").empty();
  $(".y_axis").empty();
  $(".legend").empty();
  $(".slider").empty();

    $.getJSON(_influxdb, {
                db: 'telegraf',
                q: diskQuery
            },
            function(influxData) {
                drawGraph(
                        $('#diskio_chart'),
                        transformData(influxData),
                        'stack',
                        diskQuery
                );
            }
    );
};
</script>