<div class="chart_container" >
	<div class="y_axis"></div>
	<div class="chart"></div>
	<h4 class="abs slider_title">Range Slider</h4>
	<div class="slider slider_gap abs"></div>
</div>
<div class="legend"></div>