<div class="row">
  <div class="col-md-12">
    <div>
      <div class="btn-group gap" role="group">
        <!--Available_Bytes for windows and available for unix-->
        <button id="mem_free" class="btn btn-default active" onclick="mem_click('available')">Available</button>
        <button id="mem_used" class="btn btn-default" onclick="mem_click('used')">Used</button>
      </div>
    </div>
    <h2>RAM Usage</h2>
    <div id="mem_chart" style="white-space: nowrap;">
      <%= erb :graph %>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$('body').on('click', '.navbar-nav li', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(function() {
    $(".navbar-nav li").removeClass('active');
    $(".mem-tab").addClass('active');
    $("#mem_free").click();
});

function mem_click(parameter) {
  var testQuery = "SELECT mean("+parameter+") / 1000000000 from "+win_prefix+"mem where time > now() - "+timeRange+" GROUP BY time("+groupTime+");";
  var updateQuery = "SELECT mean("+parameter+") / 1000000000 from "+win_prefix+"mem where time > now() - "+groupTime+" GROUP BY time("+groupTime+")";
  console.debug(testQuery);
  $(".chart").empty();
  $(".y_axis").empty();
  $(".legend").empty();
  //$(".slider").empty();

    $.getJSON(_influxdb, {
                db: 'telegraf',
                q: testQuery
            },
            function(influxData) {
              console.debug(influxData)
                graphObject = drawGraph(
                        $('#mem_chart'),
                        transformData(influxData, "GB"),
                        'stack',
                        testQuery,
                        updateQuery,
                        true
                );
            }
    );
};
</script>
