<div class="row">
  <div class="col-md-12">
  	<div class="btn-group gap" role="group">
      <button class="btn btn-default active" onclick="net_click('packets_recv', 'PacketIn')">Packet In</button>
      <button class="btn btn-default" onclick="net_click('packets_sent', 'PacketOut')">Packet Out</button>
      <button class="btn btn-default" onclick="net_click('bytes_recv', 'ByteIn')">Byte In</button>
      <button class="btn btn-default" onclick="net_click('bytes_sent', 'ByteOut')">Byte Out</button>
      <!--button class="btn btn-default" onclick="net_click('drop_out', 'DropOut')">Drop Out</button-->
    </div>
    <h2>Network</h2>
    <div id="net_chart" style="white-space: nowrap;">
      <%= erb :graph %>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(net_click('packets_recv', 'PacketIn'));

function net_click(parameter, tagName) {

	var procQuery = "select MEAN("+parameter+") / 1000000 AS "+tagName+" from net where time > now() - 1h GROUP BY time(30s);";
	var procUpdateQuery = "select MEAN("+parameter+") / 1000000 AS "+tagName+" from net where time > now() - 30s GROUP BY time(30s);";

	console.debug(procQuery);

	$(".chart").empty();
	$(".y_axis").empty();
	$(".legend").empty();
	$(".slider").empty();

	$.getJSON(_influxdb, {
	            db: 'telegraf',
	            q: procQuery
	        },
	        function(influxData) {
	            drawGraph(
	                    $('#net_chart'),
	                    transformData(influxData, tagName),
	                    'stack',
	                    procQuery,
                      procUpdateQuery,
                      true
	            );
        }
    );
};
</script>
