<div class="row">
  <div class="col-md-12">
  	<div class="btn-group gap" role="group">
      <button class="btn btn-default active" onclick="net_click('tcp_established', 'TCPEst')">TCP Established</button>
      <button class="btn btn-default" onclick="net_click('tcp_close_wait', 'TCPCloseWait')">TCP Closed Wait</button>
      <button class="btn btn-default" onclick="net_click('udp_socket', 'UDPSocket')">UDP Sockets</button>
    </div>
    <h2>Ports</h2>
    <div id="net_chart" style="white-space: nowrap;">
      <%= erb :graph %>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(function() {
    $(".navbar-nav li").removeClass('active');
    $(".netstat-tab").addClass('active');
    net_click('tcp_established', 'TCPEst');
});

function net_click(parameter, tagName) {

	var procQuery = "select MEAN("+parameter+") AS "+tagName+" from netstat where time > now() - "+timeRange+" GROUP BY time("+groupTime+");";
	var procUpdateQuery = "select MEAN("+parameter+") AS "+tagName+" from netstat where time > now() - "+groupTime+" GROUP BY time("+groupTime+");";

	console.debug(procQuery);

	$(".chart").empty();
	$(".y_axis").empty();
	$(".legend").empty();
	$(".slider").empty();

	$.getJSON(_influxdb, {
	            db: 'telegraf',
	            q: procQuery
	        },
	        function(influxData) {
	            drawGraph(
	                    $('#net_chart'),
	                    transformData(influxData, tagName),
	                    'stack',
	                    procQuery,
                      procUpdateQuery,
                      true
	            );
        }
    );
};
</script>
