<div class="row">
  <div class="col-md-12">
  	<div class="btn-group gap" role="group">
      <!--button id="proc_threads" class="btn btn-default active" onclick="proc_click('total_threads', 'Threads')">Total Threads</button-->
      <button id="proc_run" class="btn btn-default active" onclick="proc_click('running', 'Running')">Running</button>
      <button id="proc_block" class="btn btn-default" onclick="proc_click('blocked', 'Blocked')">Blocked</button>
      <button id="proc_sleep" class="btn btn-default" onclick="proc_click('sleeping', 'Sleeping')">Sleeping</button>
    </div>
    <h2>Processes</h2>
    <div id="proc_chart" style="white-space: nowrap;">
      <%= erb :graph %>
    </div>
  </div>
</div>

<script type="text/javascript">

$('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
});

$(document).ready(function() {
    $(".navbar-nav li").removeClass('active');
    $(".proc-tab").addClass('active');
    proc_click('running', 'Running');
});

function proc_click(parameter, tagName) {
	var procQuery = "select MEAN("+parameter+") AS "+tagName+" from processes where time > now() - "+timeRange+" GROUP BY time("+groupTime+");";
	var procUpdateQuery = "select MEAN("+parameter+") AS "+tagName+" from processes where time > now() - "+groupTime+" GROUP BY time("+groupTime+");";

	$(".chart").empty();
	$(".y_axis").empty();
	$(".legend").empty();
	$(".slider").empty();

	$.getJSON(_influxdb, {
	            db: 'telegraf',
	            q: procQuery
	        },
	        function(influxData) {
	            drawGraph(
	                    $('#proc_chart'),
	                    transformData(influxData, tagName),
	                    'stack',
	                    procQuery,
                      procUpdateQuery,
                      true
	            );
        }
    );
};
</script>
